# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
build/
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# Template files
samples/sample_component/packagedependencies.txt
samples/xpcfHelloConfigurable/packagedependencies.txt
samples/xpcfHelloInjectableAdapter/packagedependencies.txt
samples/xpcfHelloPeople/packagedependencies.txt
samples/xpcfHelloWithAllComponents/packagedependencies.txt
samples/xpcfHelloWorld/packagedependencies.txt
samples/xpcfSampleRunner/packagedependencies.txt
scripts/swig/packagedependencies.txt
scripts/unixes/build_xpcf_grpc_test_sample.sh
scripts/unixes/package_xpcf.sh
scripts/unixes/xpcf_grpc_gen_bin*
scripts/win/package_xpcf.bat
test/xpcf_registry_test.xml
test/xpcf_xml_test_missing_end_tag.xml
test/xpcf_xml_test_missing_start_tag.xml
test/xpcf_xml_test_module_uuid_format_ko.xml
test/xpcf_xml_test_property_type_invalid.xml
test/xpcf_xml_test_property_unknown_component.xml
test/xpcf_xml_test_unknown_component.xml
test/xpcf_xml_test_unknown_property.xml
test/xpcf_xml_test_valid.xml
tools/generators/grpc/ProjectGenerator.cpp
tools/generators/grpc/packagedependencies.txt
tools/generators/grpc/xpcf_grpc_gen.cpp
tools/packagedependencies.txt
tools/cli/packagedependencies.txt
tools/xpcf_grpc_client/grpc_client_sample.xml
tools/xpcf_grpc_client/packagedependencies.txt
tools/xpcf_grpc_client/xpcfGrpcSampleComponentClient.xml
tools/xpcf_grpc_server/grpc_server_sample.xml
tools/xpcf_grpc_server/packagedependencies.txt
tools/xpcf_grpc_server/xpcfGrpcSampleComponentServer.xml
version.pri

*conanbuild*.sh
*conanrun*.sh